.single-activity{
    position:relative;
}
.single-activity img{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    transition:all 0.3s ease-in-out;
}
.single-activity img:hover{
    box-shadow: 0 0 10px 8px rgb(167 167 167);
}
.activity-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:14px 0;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}